@import '../settings/conf';

.Alert {
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
        margin-bottom: $triple--space;
    }

    &__success {
        background: linear-gradient($gradient--success--1--color, $gradient--success--2--color);
        border-color: $border--success--color;
    }

    &__danger {
        background: linear-gradient($gradient--danger--1--color, $gradient--danger--2--color);
        border-color: $border--danger--color;
    }
      
    &-enter {
        transform: translateX(100%);
        opacity: 0;

        &-active {
            opacity: 1;
            transform: translateX(0);
            transition: all .4s ease;
        }
    }

    &-leave {
        transform: translateX(0);
        opacity: 1;
        
        &-active {
            opacity: 0;
            transform: translateX(100%);
            transition: all .4s ease;
        }
    }
}