//--------
//Setting space
//--------
$space: 20px !default;
$double--space: $space * 2 !default;
$triple--space: $space * 3 !default;
$quad--space: $space * 4 !default;
$half--space: $space / 2 !default;
$quarter--space: $space / 4 !default;
$none--space : 0;

//--------
// Breakpoints
//--------
$s--start: 750px!default;
$md--start: 970px!default;
$lg--start: 1170px!default;

//--------
// Colors
//--------
$title--color: #7b7b7b;
$white: #FFF;
$input--bg--color: #f7f5f6;
$btn--primary--color: #3693dc;
$link--color: #3693dc;
$text--color: #888;
$shadow--color: #AAA;
$input--icon--color: #DDD;
$border-input-color: rgba(#CCC, .4);
$gradient--danger--1--color:#ef797d;
$gradient--danger--2--color: #ec6a6c;
$border--danger--color: #d94f52;

$gradient--success--1--color:#65e2a6;
$gradient--success--2--color: #59de9b;
$border--success--color: #4acf8e;
