@import 'settings/conf';
@import 'settings/mesaures';
@import 'settings/spaces';
@import 'components/app';
@import 'components/form';
@import 'components/footer';
@import 'components/alert';
@import 'layout/login';
@import 'settings/override';

html,
body {
    height: 100%;
}

#app {
    width: 100%;
}

.Alerts {
    width: 100%;
}

p {
    color: $text--color;
}

body {
    background-color: #EEE; // replace after
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
